
.name-items p{
  font-size: 10px;
  font-style: italic;
  text-align: center;
}
.name-items img{
  /* height: 20px; */
  width: 50%;
  align-items: center;
  display: flex;
  margin-left: 80px;

    
  /* display: inline; */
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;  
}

@media (min-width:430px){
  .name-items p{
    font-size: 15px;
    /* display: flex; */
    float: left;
    /* text-align: center; */
    width:30%;
    margin-right: 1%;
    margin-bottom: 0.5em
  
  }
  .name-items img{
    /* height: 20px; */
    width: 100%;
    height: 200px;
    margin-left: 5%;
    /* display: ; */
  }
  
}